@font-face { 
    font-family: 'yg-jalnan'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); 
    font-weight: normal; 
    // font-style: normal; 
}

html, body, #root {
    display: block;
    // min-height: 100vh,
    scrollbar-width: 0px;
}

html, body, head, h1, h2, h3, h4, h5, h6, p, a, li, ol, ul, div, table, thead, tbody, th, td, tr, img, input, textarea {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #2196F3;
    font-size: 13px;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#app-container {
    max-width: 1024px;
    margin: 0 auto;
    transition: 1s;
}

.animated {
    transform: scale(1.5);
    // transform: translate(-100%);
}

.common-title {
    font-family: 'yg-jalnan';
    font-size: 15px;
    margin-bottom: 20px;
}

.common-subtitle {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #424242;
    font-weight: bold;
    text-align: center;
}

.block-wrapper {
    padding: 30px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 8px;
}

.common-contents {
    font-size: 13px;
    line-height: 17px;
    color: #616161;
}

.clearfix {
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
    height: 0;
}

.global-home-button {
    position: fixed;
    bottom: 100px;
    right: 60px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    background-color: white;
    transition: all 0.2s;
    cursor: pointer;

    > p {
        font-family: 'yg-jalnan';
        font-size: 15px;
        text-align: center;
    }

}
.global-home-button:hover {
    background-color: black;
    color: white;
}

.global-talk-button {
    position: fixed;
    bottom: 30px;
    right: 60px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    background-color: white;
    transition: all 0.2s;
    cursor: pointer;

    > p {
        font-family: 'yg-jalnan';
        font-size: 15px;
        text-align: center;
    }

}
.global-talk-button:hover {
    background-color: black;
    color: white;
}

@media (max-width: 430px) {
    #app-container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

#top-button {
    width: 25px;
    height: 70px;
    text-align: center;
    position: fixed;
    right: 40px;
    bottom: 50px;
    z-index: 9999;
    border-radius: 6px;
    cursor: pointer;

    >div.top-button-body {
        width: 20px;
        height: 32px;
        background-color: #44583b ;
        border-radius: 12px;
        margin: 0 auto;
        margin-bottom: -10px;
        box-shadow: 2px 10px 14px #424242;
    }
    >div.top-button-tail {
        width: 8px;
        height: 38px;
        margin: 0 auto;
        background-color: #44583b ;
        border-radius: 10px;
    }

    >div.top-button-fan {
        display: inline-block;
        width: 2.5px;
        vertical-align: center;
        // border-radius: 8px;
        transition: all 0.2s;
    }

    >div.top-button-fan>span {
        display: inline-block;
        width: 2px;
        border-radius: 2px;
        background-color: black;
    }
    
    >div.top-button-fan:nth-child(3)>span {
        position: absolute;
        height: 42px;
        left: 12px;
        top: -4px;
        transform: rotate(-45deg);
    }
    
    >div.top-button-fan:nth-child(4)>span {
        position: absolute;
        height: 42px;
        left: 12px;
        top: -4px;
        transform: rotate(45deg);
    }

    >div.top-button-fan:nth-child(5)>span {
        position: absolute;
        height: 18px;
        left: 12px;
        bottom: 8px;
    }

    >div.top-button-fan:nth-child(6)>span {
        position: absolute;
        height: 18px;
        left: 12px;
        bottom: 8px;
        transform: rotate(90deg);
    }
}

#top-button:hover >div>span {
    animation-name: rotation;
    animation-duration: 0.15s;
    animation-iteration-count: infinite;
}

#top-button:hover >div.top-button-body {
    box-shadow: 2px 10px 25px #424242;
}

@keyframes rotation {
    from { 
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    } 
}