html,
body {
    margin: 0;
    padding: 0;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
ol,
ul,
li,
table,
tr,
td,
thead,
tbody,
div,
span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
