.chart-wrapper {
    display: flex;
    flex-direction: row;

    .info {
        padding: 10px 20px 10px 30px;
        overflow: 'hidden';
    }

    @media (max-width: 768px) {
        display: block;

        .info {
            padding: 0;
        }
    }
}