#recently {
    .card-wrapper {
        width: 100%;
        
        .blog-card-wrapper {
            width: 25%;
            float: left;
            padding: 15px;
            cursor: pointer;

            > .blog-card-title {
                padding-bottom: 5px;
                margin-bottom: 5px;
                border-bottom: 1px solid #424242;

                > p {
                    font-size: 13px;
                    color: #424242;
                    font-weight: bold;
                }

                > p:nth-child(2) {
                    font-size: 12px;
                }
            }

            > .blog-card-body {

                > p {
                    font-size: 13px;
                    line-height: 17px;
                    color: #616161;
                }
            }
        }

        .blog-card-wrapper:hover {
            border-radius: 8px;
            box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
            transform: scale(1.1);
            transition: all 0.2s;
            
        }
    }

    .blog-card-detail-wrapper {
        margin-bottom: 30px;
        padding: 15px;

        > .detail-title {
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid #424242;
        }

        > .detail-contents > p {
            font-size: 13px;
            line-height: 17px;
            color: #616161;
        }
    }
}
@media (max-width: 768px) {
    #recently .card-wrapper .blog-card-wrapper {
        width: 50%;
    }
}

@media (max-width: 430px) {
    #recently .card-wrapper .blog-card-wrapper {
        width: 100%;
    }
}