.talk-block {
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 8px;

    float: left;
    width: calc(33.3333% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    height: 150px;
    position: relative;
    transition: 0.2s;
    
    > span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        font-family: 'yg-jalnan';
        font-size: 13px;
    }

    &:last-child {
        background-color: black;
    }
}

.talk-block:hover {
    transform: scale(1.1);
}


@media (max-width: 768px) {
    .talk-block {
        width: calc(50% - 20px);
    }
}
@media (max-width: 430px) {
    .talk-block {
        width: 100%;
        margin-right: 0px;
    }
}